body{
  background-color: cornflowerblue;
  font-family: monospace;
  font-style: inherit;
  font-weight: bold;
  font-size: 50px;
}
#rewind{
font-size: 50px;
height: auto;
width: auto;
background-color: limegreen;
border-radius: 75px;
}
#start{
    font-size: 50px;
    height: auto;
    width: auto;
    background-color: lightskyblue;
    border-radius: 75px;
    }